.first{
  background-image:   linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5))  ,url("https://assets.nflxext.com/ffe/siteui/vlv3/6dea7743-5586-45d1-89a2-9569b1bb0340/61842499-160a-4014-9e06-96329c18b4ff/MA-en-20220207-popsignuptwoweeks-perspective_alpha_website_small.jpg");;

  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  margin: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns{
  margin: 20px;
  gap: 20px;
}

.btns button{
  padding: 8px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.btns select{
  padding: 8px 20px;
  color: white;
  background-color:transparent;
  cursor: pointer;
}

.btns option{
  background-color: grey;
}

.articles{
  color: white;
  text-align: center;
}

.articles h1{
  font-size: 4rem;
}

.articles h4{
  font-size: 1.5rem;
}

.articles input{
  padding: 15px 100px;
  padding-right: 20px;
}

.articles button{
  text-transform: capitalize;
  padding: 17px 40px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
}

.articles input:focus{
  outline: none;
}



.tvparent{
  border-top:5px solid grey;
  border-bottom:5px solid grey;
  background-color: #000;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.tvbox1 h1{
  font-size: 3.2rem;
}

.tvparent1{
  border-top:5px solid grey;
  border-bottom:5px solid grey;
  background-color: #000;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.box2 h1{
  font-size: 3.2rem;
}


.faqs h1{
  text-align: center;
  font-size: 3.2rem;
  color: white;
  text-align: center;
}

.faqs{
  border-top:5px solid grey;
  border-bottom:5px solid grey;
  background-color: #000;
  height: 70vh;
 text-align: center;
  color: white;

}

.faqs input{
  padding: 15px 100px;
  padding-right: 20px;
}

.faqs button{
  text-transform: capitalize;
  padding: 17px 40px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
}

.farent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top:5px solid grey;
  border-bottom:5px solid grey;
  background-color: #000;
  height: 70vh;
  color: white;
}
.li{
  list-style: none;
  margin: 20px;
}

.li:hover{
  transition: all 0.5s ease-out;
  cursor: pointer;
  text-decoration: underline;
}


.li select{
  padding: 8px 20px;
  color: white;
  background-color:transparent;
  cursor: pointer;
  margin-top: 30px;
}

.li option{
  background-color: grey;
}